body {
    overflow-y: hidden;
}

.wrapper {
    height: 100%;
    width: 100%;
    background: url('/img/background.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.content {
    top: 0;
    position: absolute;
    width: 100% !important;
    text-align: center;
    color: #fff;
    left: auto;
    right: auto;
}

.text {
    color: #ffffff;
    height: calc(100% - 80px);
    font-family: 'Merriweather', serif;
    font-size: 20px;
    mix-blend-mode: exclusion;
}

.description {
    margin-left: 20px;
}